
.button{
    margin:20px;
 }

.card{
margin-bottom:3px;
}

.title{
font-weight: bold;
font-size: 1.2rem;
}
.author{
color: rgba(2, 146, 146, 0.78) ;
font-size: 0.9rem;
margin-bottom: 1px;
}
.description{
    font-size: 1rem;

}

.time{
    color: rgba(0, 0, 0, 0.54) ;
    font-size: 0.9rem;
    margin-bottom: 1px;
}
