.welcome{
  
  background-image: url('../../public/HomePage.png');
  background-size: cover;
  background-position: center;
  height: max-content;
}

.welcome-button{
  display: flex;
  justify-content: center;
  align-items: center;
}
