.welcome{
  
  background-image: url('../../public/HomePage.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.welcome-button{
  width: 200px;
height: 50px;
}

